.main-content {
  margin-bottom: 20px;
}
.main-content .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
section .section-title {
  color: var(--main-color);
  font-size: 22px;
}
section .section-description {
  line-height: 1.8;
  font-size: 15px;
}
section .section-heading-separation {
  display: block;
  margin: 0 -15px;
  height: 2px;
  background-color: var(--alt-alt-color);
  transition: background-color var(--transition);
  -webkit-transition: background-color var(--transition);
  -moz-transition: background-color var(--transition);
  -ms-transition: background-color var(--transition);
  -o-transition: background-color var(--transition);
}
@media (hover: hover) {
  section .section-heading-separation {
    background-color: white;
  }
  section:hover > .section-heading-separation {
    background-color: var(--alt-alt-color);
  }
}
.head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.background-section {
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #eee;
}
.icon-inside {
  position: relative;
}
.icon-inside * {
  z-index: 2;
}
.company-information {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.section-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
  opacity: 0.05;
}
.company-name {
  color: var(--main-color);
}
.full-name {
  font-size: 18px;
  color: rgb(0 0 0 / 80%);
}
.username {
  color: rgb(0 0 0 / 80%);
}
.post-job-section {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
}
@media (max-width: 767px) {
  .head {
    grid-template-columns: 1fr;
  }
  .post-job-section {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
.post-job-section > div {
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
  row-gap: 10px;
}
.post-job-section .post-job {
  border: 3px solid var(--main-color);
  color: var(--main-color);
  width: fit-content;
  margin: auto;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color var(--transition), color var(--transition);
  -webkit-transition: background-color var(--transition),
    color var(--transition);
  -moz-transition: background-color var(--transition), color var(--transition);
  -ms-transition: background-color var(--transition), color var(--transition);
  -o-transition: background-color var(--transition), color var(--transition);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.post-job-section .post-job:hover {
  background-color: var(--main-color);
  color: white;
}
.box {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  opacity: 0;
  z-index: -999;
  width: 90dvw;
  max-width: 800px;
  padding: 15px 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 90dvh;
  max-height: fit-content;
  overflow: hidden;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: opacity var(--transition), z-index var(--transition);
  -webkit-transition: opacity var(--transition), z-index var(--transition);
  -moz-transition: opacity var(--transition), z-index var(--transition);
  -ms-transition: opacity var(--transition), z-index var(--transition);
  -o-transition: opacity var(--transition), z-index var(--transition);
}
.box.active {
  z-index: 99999;
  opacity: 1;
}
.box > .title {
  text-align: center;
  color: var(--alt-color);
  margin-bottom: 20px;
}
.box > .body {
  max-height: calc(100% - 59px);
  overflow-y: auto;
  padding: 0 10px;
}
.box > .body::-webkit-scrollbar {
  width: 10px;
}
.box > .body::-webkit-scrollbar-track {
  background-color: transparent;
}
.box > .body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.box .close {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.main-content .company-jobs {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
.main-content .company-jobs .jobs-message {
  text-align: center;
  color: var(--main-color);
  line-height: 2;
}
.main-content .company-jobs .job {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}
.main-content .company-jobs .job .details {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
.main-content .company-jobs .job .options {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  gap: 15px;
}
.main-content .company-jobs .job .options .edit-job,
.main-content .company-jobs .job .options .delete-job {
  border: 2px solid var(--green-color);
  padding: 5px 7px;
  color: var(--green-color);
  border-radius: 10px;
  transition: background-color var(--transition), color var(--transition);
  -webkit-transition: background-color var(--transition),
    color var(--transition);
  -moz-transition: background-color var(--transition), color var(--transition);
  -ms-transition: background-color var(--transition), color var(--transition);
  -o-transition: background-color var(--transition), color var(--transition);
  text-align: center;
}
.main-content .company-jobs .job .options .delete-job {
  border-color: var(--red-color);
  color: var(--red-color);
}
.main-content .company-jobs .job .options .edit-job:hover,
.main-content .company-jobs .job .options .delete-job:hover {
  background-color: var(--green-color);
  color: white;
}
.main-content .company-jobs .job .options .delete-job:hover {
  background-color: var(--red-color);
}
.main-content .company-jobs .job:not(:first-of-type) {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.main-content .company-jobs .job:first-of-type {
  padding-top: 0;
}
.main-content .company-jobs .job:last-of-type {
  padding-bottom: 0;
}
.main-content .company-jobs .job .job-title {
  color: var(--main-color);
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
}
.main-content .company-jobs .job .job-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-content .company-jobs .job .company-name,
.main-content .company-jobs .job .job-id,
.main-content .company-jobs .job .post-date,
.main-content .company-jobs .job .location,
.main-content .company-jobs .job .vacancies {
  color: rgb(0 0 0 / 80%);
}
.delete-job-message .title {
  color: var(--red-color);
  font-size: 22px;
}
.delete-job-message .options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.delete-job-message .yes,
.delete-job-message .no {
  border: 2px solid var(--red-color);
  color: var(--red-color);
  width: 55px;
  padding: 5px 0;
  border-radius: 10px;
  transition: background-color var(--transition), color var(--transition);
  -webkit-transition: background-color var(--transition),
    color var(--transition);
  -moz-transition: background-color var(--transition), color var(--transition);
  -ms-transition: background-color var(--transition), color var(--transition);
  -o-transition: background-color var(--transition), color var(--transition);
}
.delete-job-message .no {
  border-color: var(--green-color);
  color: var(--green-color);
}
.delete-job-message .yes:hover,
.delete-job-message .no:hover {
  background-color: var(--red-color);
  color: white;
}
.delete-job-message .no:hover {
  background-color: var(--green-color);
}
