a {
  display: block;
  color: initial;
  text-decoration: none;
}
body {
  font-family: var(--arabic-font);
}
body.scrolling {
  touch-action: none;
}
body.scrolling::-webkit-scrollbar {
  width: 0;
}
.nav-list {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  font-family: var(--arabic-font);
  font-size: 16px;
  cursor: pointer;
}
input:-webkit-autofill {
  -webkit-background-clip: text;
}

header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
header .container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
  height: 60px;
  gap: 20px;
  position: relative;
}
header .logo {
  display: flex;
  align-items: center;
}
header .search {
  margin: auto;
  width: 100%;
  max-width: 500px;
  position: relative;
}
header .search .search-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  opacity: 0.3;
}
header #search {
  display: block;
  border: 2px solid #eee;
  background-color: #eee;
  font-size: 16px;
  padding: 5px 10px 5px 35px;
  font-family: var(--english-font);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  outline: none;
  transition: border-color var(--transition);
  -webkit-transition: border-color var(--transition);
  -moz-transition: border-color var(--transition);
  -ms-transition: border-color var(--transition);
  -o-transition: border-color var(--transition);
  width: 100%;
  font-family: var(--english-second-font);
}
header #search::-webkit-search-cancel-button,
header #search::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
header #search:focus {
  border-color: #ddd;
}
header #search::placeholder {
  transition: opacity var(--transition);
  -webkit-transition: opacity var(--transition);
  -moz-transition: opacity var(--transition);
  -ms-transition: opacity var(--transition);
  -o-transition: opacity var(--transition);
}
header #search:focus::placeholder {
  opacity: 0;
}
header .account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .account > div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  transition: background-color var(--transition);
  -webkit-transition: background-color var(--transition);
  -moz-transition: background-color var(--transition);
  -ms-transition: background-color var(--transition);
  -o-transition: background-color var(--transition);
}
header .account > div:active {
  background-color: #eee;
}
@media (hover: hover) {
  header .account > div:hover {
    background-color: #eee;
  }
}
header .account button {
  display: flex;
  gap: 5px;
  font-size: 18px;
}
header .account .img {
  font-size: 25px;
  background-color: var(--white-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
header .account .img i {
  transform: translateY(5px);
  color: var(--main-color);
}
header .nav-list {
  position: absolute;
  top: 100%;
  right: 0;
  transition: transform var(--transition), box-shadow var(--transition);
  -webkit-transition: transform var(--transition), box-shadow var(--transition);
  -moz-transition: transform var(--transition), box-shadow var(--transition);
  -ms-transition: transform var(--transition), box-shadow var(--transition);
  -o-transition: transform var(--transition), box-shadow var(--transition);
  background-color: white;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: top;
  z-index: 999;
}
header .nav-list.active {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
header .nav-list li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
header .nav-list li a,
header .nav-list li button {
  padding: 15px 50px 15px 20px;
  transition: background-color var(--transition);
  -webkit-transition: background-color var(--transition);
  -moz-transition: background-color var(--transition);
  -ms-transition: background-color var(--transition);
  -o-transition: background-color var(--transition);
}
header .nav-list li a:hover,
header .nav-list li button:hover {
  background-color: var(--main-color);
  color: white;
}
header .nav-list li button {
  width: 100%;
  background-color: white;
  border: none;
  font-family: var(--arabic-font);
  text-align: start;
}
@media (max-width: 600px) {
  header .container {
    grid-template-columns: 1fr auto auto;
    gap: 15px;
  }
  header .logo img {
    max-width: 150px;
  }
  header #search {
    display: none;
  }
  /* header .account button {
    display: none;
  } */
  header .search .search-icon {
    position: static;
    transform: translateY(0);
    font-size: 20px;
    color: var(--main-color);
    opacity: 1;
    cursor: pointer;
  }
  header .account button {
    font-size: 16px;
  }
}

.welcome {
  margin: 20px 0;
}
.welcome .header {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--main-color);
}
.welcome .details {
  font-size: 17px;
  line-height: 1.8;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999999;
  display: none;
}
.loading.active {
  display: flex;
}
.loading div {
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: loading-animation var(--transition) infinite alternate;
  -webkit-animation: loading-animation var(--transition) infinite alternate;
}
.loading .two {
  animation-delay: 0.1s;
}
.loading .three {
  animation-delay: 0.2s;
}
@keyframes loading-animation {
  to {
    transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    opacity: 25%;
  }
}

.overlay {
  background-color: transparent;
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background-color var(--transition), z-index var(--transition);
  -webkit-transition: background-color var(--transition), z-index var(--transition);
  -moz-transition: background-color var(--transition), z-index var(--transition);
  -ms-transition: background-color var(--transition), z-index var(--transition);
  -o-transition: background-color var(--transition), z-index var(--transition);
}
.overlay.active {
  z-index: 9999;
  background-color: rgb(0 0 0 / 50%);
}
.message {
  text-align: center;
  width: 90%;
  max-width: 500px;
  font-weight: 500;
  font-family: var(--arabic-font);
  position: fixed;
  top: 50%;
  left: 50%;
  line-height: 1.8;
  background-color: white;
  padding: 30px 10px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  opacity: 0;
  z-index: -999;
  transition: opacity var(--transition), z-index var(--transition);
  -webkit-transition: opacity var(--transition), z-index var(--transition);
  -moz-transition: opacity var(--transition), z-index var(--transition);
  -ms-transition: opacity var(--transition), z-index var(--transition);
  -o-transition: opacity var(--transition), z-index var(--transition);
}
.message.active {
  opacity: 1;
  z-index: 99999;
}
.message .title {
  font-size: 30px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .message .title {
    font-size: 24px;
  }
}
.message .main-message {
  font-size: 16px;
  margin: 10px 0;
  color: var(--main-color);
  line-height: 2;
}
.message .another-messages {
  direction: ltr;
  color: black;
  text-align: left;
}
.message .another-messages p {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}
.message .close {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.message.failed h3 {
  color: var(--red-color);
}
.message.success h3 {
  color: var(--green-color);
}
