.main-content .container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 20px;
  row-gap: 10px;
  align-items: flex-start;
}
.main-content .jobs {
  margin-bottom: 20px;
}
.main-content .jobs .jobs-message {
  text-align: center;
  color: var(--main-color);
  line-height: 2;
}
.main-content .jobs .job {
  background-color: #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}
.main-content .jobs .job:not(:last-of-type) {
  margin-bottom: 10px;
}
.main-content .jobs .job .copy-job-link {
  opacity: 0.7;
  transition: opacity var(--transition);
  -webkit-transition: opacity var(--transition);
  -moz-transition: opacity var(--transition);
  -ms-transition: opacity var(--transition);
  -o-transition: opacity var(--transition);
}
.main-content .jobs .job .copy-job-link:hover {
  opacity: 1;
}
.main-content .jobs .job .job-title {
  color: var(--main-color);
  font-size: 24px;
  font-weight: bold;
  width: fit-content;
}
.main-content .jobs .job .job-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main-content .jobs .job .company-name {
  color: rgb(0 0 0 / 80%);
}
.main-content .jobs .job .job-id,
.main-content .jobs .job .post-date {
  color: rgb(0 0 0 / 50%);
  font-size: 14px;
  position: absolute;
  right: 15px;
  bottom: 40px;
}
.main-content .jobs .job .post-date {
  bottom: 15px;
}
.main-content .jobs .job.applied-job .job-id {
  bottom: 67px;
}
.main-content .jobs .job.applied-job .post-date {
  bottom: 42px;
}
.main-content .jobs .job .location {
  color: rgb(0 0 0 / 80%);
}
.main-content .jobs .job .vacancies {
  color: rgb(0 0 0 / 80%);
}
.main-content .jobs .job.applied-job .applied {
  text-align: center;
  color: var(--green-color);
  font-weight: 600;
  font-size: 18px;
  margin-top: -10px;
}
.main-content .jobs .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  margin-top: 15px;
}
.main-content .jobs .showing-details {
  color: rgb(0 0 0 / 50%);
  text-align: center;
  margin-top: 10px;
}
.main-content .jobs .options .back,
.main-content .jobs .options .next {
  color: var(--alt-color);
  border: 3px solid var(--alt-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  transition: background-color var(--transition), color var(--transition);
  -webkit-transition: background-color var(--transition),
    color var(--transition);
  -moz-transition: background-color var(--transition), color var(--transition);
  -ms-transition: background-color var(--transition), color var(--transition);
  -o-transition: background-color var(--transition), color var(--transition);
}
.main-content .jobs .options .back.disabled,
.main-content .jobs .options .next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.main-content .jobs .options .back:hover,
.main-content .jobs .options .next:hover {
  background-color: var(--alt-color);
  color: white;
}
.main-content .jobs .options .pages {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.main-content .jobs .options .pages button {
  padding: 5px 10px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 3px solid transparent;
}
.main-content .jobs .options .pages button.active {
  color: white;
  background-color: var(--alt-color);
}
.main-content .jobs .options .pages button:not(.active):hover {
  color: var(--alt-color);
  border-color: var(--alt-color);
}
.main-content .side > * {
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #eee;
}
.main-content .side .personal-information {
  position: relative;
}
.main-content .side .account-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 40px;
  opacity: 0.05;
}
.main-content .side .full-name {
  font-size: 22px;
  margin-bottom: 5px;
  color: var(--main-color);
}
.main-content .side .username {
  color: rgb(0 0 0 / 80%);
  margin-bottom: 10px;
}
.main-content .side .job-title {
  color: rgb(0 0 0 / 80%);
}
@media (max-width: 767px) {
  .main-content .container {
    grid-template-columns: 1fr;
  }
  .main-content .jobs {
    order: 2;
  }
  .main-content .side {
    order: 1;
  }
}
